body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
}
.about-us-div{
    width: 90vw;
    /* height: 90vh; */
    min-height: 90vh;
    margin: 5vh 5vw;
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to right,purple,blue);
    color: white;
    text-align: center;
    position: absolute;
}
*{
	font-family: Ubuntu;
    box-sizing: border-box;
}
.link{
    position: relative fixed;
    margin: 0 auto;
    /* padding: 10px; */
    text-decoration: none;
    transition: .25s ease;
    height: fit-content;
}

.authors{
    text-align: left;
    width: max-content;
    margin: 0 auto;
}
.ambitions{
    text-align: left;
    width: auto;
    margin: 0 auto;
}
.github_link{
    color: black;
}
.p_ambitions{
    margin: 0;
}
h3{
    margin: 5px;
}
img{
    border-radius: 15px;
}
.button_link{
    font-size: 1.1rem;
    background-color: black;
    border: none;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: .25s ease;
    padding: 10px;
    cursor: pointer;
}

.button_link:hover{
    scale: 1.1;
}