body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
}
.about-us-div{
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(to right,purple,blue);
    color: white;
    text-align: center;
    position: relative;
}
*{
	font-family: Ubuntu;
    box-sizing: border-box;
}
.link{
    position: absolute fixed;
    margin: 0 auto;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    transition: .25s ease;
}
.link:hover{
    font-size: 1.1rem;
}
.authors{
    text-align: left;
    width: max-content;
    margin: 0 auto;
}
.ambitions{
    text-align: left;
    width: max-content;
    margin: 0 auto;
}
.github_link{
    color: black;
}
.p_ambitions{
    margin: 0;
}
h3{
    margin: 5px;
}