::selection{
	background-color: purple;
}
p:hover, h1:hover, h2:hover, h3:hover, li:hover, a:hover{
    color: darkblue;
}
p, h1, h2, h3, li, a{
    transition: .25s ease;
}
body {
    font-size: 1rem;
}
span.category_title
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}