*{
	font-family: Ubuntu;
	box-sizing: border-box;
}
body{
	/* background: linear-gradient(to right, purple, blue); */
	background-color: black;
	color: white;
	margin: 0;
}
a{
	color: blue;
}
.maindiv{
	width: 90vw;
	min-height: 90vh;
	border: 2px solid blue;
	border-radius: 15px;
	padding: 10px;
	margin: 5vh 5vw;
	position: relative;
	padding-bottom: 30px;
}
.link{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}
img{
	border-radius: 20px;
	margin: 7px 10px;
	transition: .25s ease;
}
img:hover{
	scale: 1.1;
}
.category{
	border: 2px solid blue;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
h2{
	text-decoration: underline;
	font-weight: bold;
}
ul.images_list{
	list-style-type: none;
}