*{
	font-family: Ubuntu;
	box-sizing: border-box;
}
body{
	background-color: black;
	color: white;
	margin: 0;
}
a{
	color: blue;
}
.maindiv{
	width: 90vw;
	min-height: 90vh;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px;
	margin: 5vh 5vw;
	position: relative;
	padding-bottom: 30px;
}
.link{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}
img{
	border-radius: 20px;
	margin: 10px;
	transition: .25s ease;
}
img:hover{
	width: 220px;
	margin: 0
}
.category{
	border: 2px solid white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
p{
	text-decoration: underline;
	font-weight: bold;
}