body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,purple,blue);
    overflow: hidden;
}
.about-us-div{
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: blue;
    color: white;
    text-align: center;
}
*{
	font-family: Ubuntu;
    box-sizing: border-box;
}
a{
    color: white;
}
.about-us-div *{
    display: block;
}